<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.song.dao.UserMapper">

    <sql id="ByName">
        <if test="username != null">
            username = #{username};
        </if>
    </sql>

    <select id="queryUserByName" parameterType="com.song.po.User" resultType="com.song.po.User">
        select * from users
        <where>
            <include refid="ByName"/>
        </where>
    </select>


    <insert id="addUser" parameterType="com.song.po.User">
        insert into users(username,password) values(#{username},#{password});
    </insert>

</mapper>